# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Database files
*.sqlite3
*.sqlite

# Django stuff
*.log
db.sqlite3

# Environment variables
.env

# IDE/editor files
.vscode/
*.swp
*~
.DS_Store
